aside p > a[href$=".html"]{
	font-style: normal;
}

#petbio :target {
	background-color: #039;
	color: white;
	font-style:italic;
	padding:4px;
}
#petbio img[src$=".jpg"] {
	border:1px solid #CCC;
	float:right;
	margin:3px;
	border-radius: 5px;
	-webkit-border-radius:5px;
}
