
.image_carousel { 

    padding: 15px 0 15px 40px;
    width: 600px;

}

.image_carousel img {

    border: 1px solid #ccc;

    background-color: white;

    padding: 9px;

    margin: 7px;

    display: block;

    float: left;

/*custom*/
	height: 150px; 

	width: 200px;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

.clearfix {

    float: none;

    clear: both;

}
