@charset "utf-8";
/* CSS Document */

#social img{
height: 75px;
width: 75px;
border: none;
max-width: 100%;
}


#social{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#social a{
  width: 100%;
  max-width: 300px; 
  margin-left: 5px;
  margin-right: auto;
  text-align: left;
}


/* add  CSS3 button animation here */

