#search {
    width: 100%; /* Full-width */
    font-size: 1em; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#infoTable {
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 1em; /* Increase font-size */
}

#infoTable th, #infoTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#infoTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#infoTable tr.header, #infoTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#jsname{
	width: 20%;
}
#release{
	width: 20%;
}
#desc{
	width: 60%;
}
